@import url("https://use.typekit.net/poe3tce.css");
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Noto+Emoji:wght@300..700&family=Space+Grotesk:wght@300..700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Italianno&family=Noto+Emoji:wght@300..700&family=Space+Grotesk:wght@300..700&family=Special+Elite&display=swap');

:root {
    --cor-header:white;
    --cor-texto-header: rgb(66, 66, 66);
    --cor-fundo: rgb(255, 239, 239);
    --cor-fundo-2:rgb(222, 223, 221);
    --cor-fundo-3:rgb(255, 239, 239);
    --cor-fundo-4:rgb(245, 206, 208);
    --cor-footer: rgb(201, 214, 216);
    --cor-linha-agendar:rgb(160, 180, 177);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-family: "Space Grotesk", serif;
    color: var(--cor-texto-header);
    animation: fadeIn 2s ease-in-out forwards;
}
p{
    font-family: "Space Grotesk", serif;
    color: var(--cor-texto-header);
    animation: fadeIn 2s ease-in-out forwards;
}
h4{
    font-family: "Space Grotesk", serif;
    color: var(--cor-texto-header);
    animation: fadeIn 2s ease-in-out forwards;
}
body{
    position: relative;
    z-index: -100;
}
main{
    position: relative;
    z-index: -100;
}
.dis-flex-colum{
    display: flex;
    flex-direction: column;
}
.dis-flex-row{
    display: flex;
    flex-direction: row;
}
.jus-ali-center {
    justify-content: center;
    align-items: center;
}
.icon {
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 40px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    z-index: 98;
    box-shadow: 2px 2px 2px #c0bddd;
  }
  .icon i {
    color: #ffffff;
  }
  .icon:hover i{
    color: #029e3b;
  }
  .icon .fab {
    padding-top: 15px;
    font-size: 35px;
  }
  .icon:hover {
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
  }
.header {
    background: var(--cor-header) ;
    padding-inline: 16px;
}
#linkedin-icon:hover{
 color:#0072ff;
 transition: .8s;
}
#insta-icon:hover{
    background: linear-gradient(90deg, #ff6a00, #ee0979, #7f00ff, #0072ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .8s;
}
#e-mail:hover{
color: rgb(124, 124, 124);
 transition: .8s;
}
#youtube:hover{
color: red;
 transition: .8s;
}
#zapzap:hover{
    color:green;
 transition: .8s;
}
#facebook:hover{
    color: #0072ff;
 transition: .8s;
}
.nav {
    max-width: 1280px;
    height: 135px;
    margin-inline: auto;
}
#logo {
    font-size: 60px;
    color: var(--cor-texto-header);
    font-family: "brush-script-std", sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-list {
    display: flex;
    gap: 70px;
    list-style: none;
    padding-bottom: 16px;
}
.nav-list a {
    font-size: 18px;
    color: var(--cor-texto-header);
    padding-block: 0px;
    position: relative;
}
.nav-list a::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: var(--cor-texto-header);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.nav-list a:hover::after {
    width: 100%;
}
.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--cor-texto-header);
    cursor: pointer;
}
.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--cor-texto-header);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
.nav-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 0;

}
.nav-list-email {
    display: flex;
}
.nav-list-email a {
    margin: 5px;
    color: var(--cor-texto-header);
}

.nav-list-redes a {
    margin: 5px;
}
.nav-redes img {
    width: 25px;
    height: 25px;
}
i{
    font-size: 25px;
    color: var(--cor-texto-header);
    animation: fadeIn 2s ease-in-out forwards;
}
hr {
    margin: 0;
    color: var(--cor-texto-header);
}

img {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-in-out forwards;
    z-index: 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
   } 

.fundo-img {
    background-image: url("../files/salao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: center;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 0;
}
.texto-h2 {
    padding-bottom: 0px;
    padding-top: 20px;
}
.texto-h2 h2 {
    color: white;
    font-size: 40px;
    font-family: "Italiana", serif;
    font-weight: 5px;
}
.texto-p p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Space Grotesk", serif;
}
.texto-p {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.buttons button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: transparent;
    color: white;
    border:1px solid white;
    font-size: large;
    font-weight: normal;
    cursor: pointer;
    font-family: "Space Grotesk", serif;
    position: relative;
    transition: .5s;
}
.buttons button:hover {
    color: black;
}
.buttons button::before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .4s;
}
.buttons button:hover::before {
    transform: scaleX(1); 
}

.fundo-2 {
    background-color:var(--cor-fundo-2);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fundo-2-child{ 
    background-color:var(--cor-fundo-2);
    width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:1px solid var(--cor-texto-header);
}
.img-retrato{
    height:444px;
    width: 300px;
    border:1px solid var(--cor-texto-header);
    background-color:var(--cor-fundo-2);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    
}
.img-retrato img {
    width: 100%;
    height: 100%;
}
.texto-num {
    height:450px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacao-mega {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.texto-h3 h3 {
    color: var(--cor-texto-header);
    font-size: 30px;
    font-family: "Italiana", serif;
    font-weight: lighter;
    margin-block: 10px;
}
.num-mega {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.num-mega button {
    
    padding: 8px;
    background-color: var(--cor-texto-header);
    color: var(--cor-fundo-2);
    border: none;
    border-radius: 4px;
    font-weight: bolder;
}
#numerador-1{
    margin-top: 30px;
}
#numerador-3{
    margin-bottom: 60px;
}
.texto-mega {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.texto-mega-child {
    width: 100%;
    height: calc(100% / 3);
    padding: 12px;
}
.saiba-mais a{
    text-decoration: underline;
}
.espaco {
    width: 100%;
    height: 10px;
    background-color: var(--cor-fundo);
    /*border: var(--cor-texto-header) solid 1px;
    border-inline: none;*/
}
.fundo-3 {
    background-color:var(--cor-fundo-3);
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fundo-3-child{ 
    background-color: var(--cor-fundo-3);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid var(--cor-texto-header);
    border-left: none;
    border-right: none;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    z-index: 2;
    
}
.imagems-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-retrato-2 {
    width: 200px;
    height: 200px;
    border:1px solid var(--cor-texto-header);
    background-color: var(--cor-fundo-3);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-retrato-2 img {
    width: 95%;
    height: 95%;
    border: 1px solid var(--cor-texto-header);
}
.container-img-retrato-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.container-img-retrato-2 p {
    font-weight: bold;
}
.drjunior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    padding: 10px;
    margin: 15px;
    border: 1px solid var(--cor-texto-header);
    cursor: pointer;
    position: relative;
    transition: background 2s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.drjunior::before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff6a00, #ee0979, #7f00ff, #4400ff);
    z-index: -1;
    transform: scaleX(0);
    transition: transform .4s 
}
.drjunior:hover::before {
    transform: scaleX(1); 
}
.drjunior:hover {
    
    border: 1px solid var(--cor-texto-header);
}
.drjunior:hover i{
    color: white;
    font-weight: bolder;
}
.drjunior:hover p{
    color: white;
    font-weight: bolder;
}
.drjunior i  {
    font-size: x-large;
    color: var(--cor-texto-header);
}
.fundo-4{
    background-color:var(--cor-fundo-4);
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.fundo-4-child{
    background-color:var(--cor-fundo-4);
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    
}
.img-retrato-3{
    height:500px;
    width: 300px;
    border:1px solid var(--cor-texto-header);
    background-color:var(--cor-fundo-4);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.img-retrato-3 img {
    width: 100%;
    height: 100%;
}
.info-infa {
    height:500px;
    width: 50%;
}
.info-infa-child {
    height:calc(100% - 72px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text-icons{
    height: 80%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--cor-texto-header);
    border-left: none;
    border-right: none;
}
.text-icon {
    margin-bottom: 20px;
}
.container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.container-container-slider{
    padding-block: 40px;
    border: 1px solid var(--cor-texto-header);
    border-inline: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.pessoa-review{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.pessoa-review a{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.pessoa-review p{
    position: relative;
    top: 10px;
}
.nota-review{
    width: 80%;
    margin: 10px;
    margin-left: 0;
}
.nota-review i{
    font-size: medium;
    color: rgb(255, 238, 0);
}
.text-review{
    width: 90%;
}

.slider {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity .2s ;
}

.on {
    opacity: 1;
}
#prev-button,
#next-button {
    width: 50px;
    height: 50px;
    border:none;
    background-color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#prev-button i, #next-button i {
   font-size: 40px;
   position: relative;
   top: 2px;
}
.button-google {
    border-radius: 40px;
    background-color: rgb(25, 123, 255);
    color: white;
    font-weight: bold;
    padding: 15px;
    padding-inline: 60px;
    border:none;
    margin-bottom: 20px;
    cursor: pointer;
}
.sla{
    width: 256px;
}
.button-google:hover{
    background-color: rgb(82, 155, 250);
}
.fundo-local {
    background-color:  var(--cor-fundo-3);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-block: 40px;
}
.container-container-local{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 400px;
    width: 70%;
    background-color: var(--cor-fundo-4);
    padding: 10px;
}
.container-local{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--cor-fundo-4);
    border: 1px solid white;
    padding: 10px;
}
.container-local iframe {
    width: 100%;
    height: 100%;
}
.container-como-chegar{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.linha-agendar{
    background-color:var(--cor-linha-agendar);
    width: 100%;
    height: 25px;
}
footer{
    background-color: var(--cor-footer);
    width: 100%;
    height: 300px;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.footer-infos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
}
.footer-infos{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.all-social-medias i{
    letter-spacing: 10px;
    font-size: 27px;
}
.logo-footer {
    margin-bottom: 40px;
    color: var(--cor-texto-header);
    font-family: "brush-script-std", sans-serif;
    font-size: 23px;
}

    @media (max-width: 760px){

        .footer-infos-container{
            flex-direction: column;
        }
        #logo {
            font-size: 40px;
        }
        .nav {
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .hamburger {
            display: block;
            position: absolute;
            left: 85%;
            z-index: 100;
        }
        .nav-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: var(--cor-header);
            clip-path: circle(100px at 90% -15%);
            transition: 1s ease-out;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 0;
            pointer-events: none;
            overflow: hidden;
            z-index: 99;
        }
        .nav-list a {
            font-size: 24px;
            opacity: 0;
        }
        .nav-list li:nth-child(1) a {
            transition: o.5s 0.2s;
        }
        .nav-list li:nth-child(2) a {
            transition: o.5s 0.4s;
        }
        .nav-list li:nth-child(3) a {
            transition: o.5s 0.6s;
        }
        .nav-list li:nth-child(4) a {
            transition: o.5s 0.8s;
        }

        .nav.active .nav-list{
            clip-path: circle(1500px at 90% -15%);
            pointer-events: all;
        }
        .nav.active .nav-list a {
            opacity: 1;
        }
        .nav.active .hamburger {
            position: fixed;
            top: 100px;
            right: 16px;
            border-top-color: transparent;
        }
        .nav.active .hamburger::before {
            transform: rotate(135deg);
        }
        .nav.active .hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
        }
        .fundo-img {
            height: 320px;
        }
        .texto-p p {
            font-size: 15px;
        }
        .texto-p {
            margin: 30px;
            padding: 0;
        }
        .buttons button {
            margin-left: 15px;
            margin-right: 15px;
            padding: 4px;
            padding-bottom: 7px;
            padding-top: 7px;
        }
        .fundo-2 {
            background-color:var(--cor-fundo-2);
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        .texto-h3 h3 {
            text-align: center;
            font-size: x-large;
        }
        .fundo-2-child{ 
            background-color:var(--cor-fundo-2);
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            border: none;
        }
        .imagems-row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .fundo-4-child{
            background-color:var(--cor-fundo-4);
            width: 100%;
            min-height: 550px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        .info-infa {
            width: 100%;
        }
        .text-icon p {
            font-size: small;
        }
        .text-icons{
            height: 350px;
        }
        .text-icon{
            height: 100%;
        }
        .info-infa-child{
            height: 50%;
        }
        .info-infa{
            height: 50%;
        }
        .container-local{
            flex-direction: column;
        }
    }
    @media (max-width: 380px){
        .container-slider{
            scale: 0.9;
        }
    }